<div role="document" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{activePerson.name.first | titlecase}} {{activePerson.name.last | titlecase}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-4">
          <img class="card-img-top img-circle img-responsive" src="{{activePerson.picture.medium}}" alt="{{ activePerson.name.first }} {{ activePerson.name.last }}">
        </div>
        <div class="col-sm-8">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="badge badge-pill">
                <fa-icon [icon]="faPhone"></fa-icon>
              </span>
              {{ activePerson.phone }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="badge badge-pill">
                <fa-icon [icon]="faAt"></fa-icon>
              </span>
              {{ activePerson.email }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="badge badge-pill">
                <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
              </span>
              {{ activePerson.location.city | titlecase}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
